<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="con" value="Data Source=121.40.166.159\SQLExpress;Initial Catalog=iMidudu;Persist Security Info=True;User ID=sa;Password=123456"/>
    <add key="smsAppKey" value="a5c540e3bf1b594415b932c3414a04fd"/>
    <add key="defaultActivityId" value="53c9b412-d1a5-44a6-957f-b948cd54ce86"/>
    <add key="Domain" value="http://wx.meduo.com.cn" />
    <add key="Token" value="wechat_platform" />
    <add key="EncodingAESKey" value="8vU25keHw2mjzVGkBCDi6a3pX1Bz4smyw0jZEtbpIJW" />
    <add key="AppID" value="wx8cabe7121f5369a3" />
    <add key="AppSecret" value="6066d7e2e03fbb351a9a4602f07a3a94" />
    <add key="PartnerKey" value="d56ace11210245d2aed5f0243f9b68e3" />
    <add key="mch_id" value="1230283802" />
    <add key="device_info" value="" />
    <add key="spbill_create_ip" value="" />
    <add key="OpenJSSDK" value="1" />
  <add key="Xml" value="D:\" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages>
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
          <match url="^perfetti$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^bonus=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="/perfetti.aspx?bonus={C:1}" appendQueryString="false" />
        </rule>
        <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
          <match url="^perfetti?bonus=([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/perfetti.aspx?bonus={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <connectionStrings>
    <add name="iMiduduEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\iMidudu.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="iMiduduConnectionString" connectionString="Data Source=121.40.166.159\SQLExpress;Initial Catalog=iMidudu;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
        <binding name="BizWebServiceSoap" />
        <binding name="SMSWebServiceSoap" />
        <binding name="WeChatWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5906/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="ServiceReference.WebServiceSoap"
        name="WebServiceSoap" />
      <endpoint address="http://localhost:5906/WebService.asmx" binding="customBinding"
        bindingConfiguration="WebServiceSoap12" contract="ServiceReference.WebServiceSoap"
        name="WebServiceSoap12" />
      <endpoint address="http://115.159.45.117:8085/BizWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BizWebServiceSoap"
        contract="BizWebService.BizWebServiceSoap" name="BizWebServiceSoap" />
      <endpoint address="http://115.159.45.117:8085/SMSWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SMSWebServiceSoap"
        contract="SMSWebService.SMSWebServiceSoap" name="SMSWebServiceSoap" />
      <endpoint address="http://115.159.45.117:8085/wechatwebservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeChatWebServiceSoap"
        contract="WeChatWebService.WeChatWebServiceSoap" name="WeChatWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>