<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <clear/>
    <add key="Domain"  value="http://wx.meduo.com.cn"/>
  </appSettings>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BizWebServiceSoap" />
                <binding name="WeChatWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://115.159.45.117:8085/BizWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BizWebServiceSoap"
                contract="BizWebService.BizWebServiceSoap" name="BizWebServiceSoap" />
            <endpoint address="http://115.159.45.117:8085/wechatwebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeChatWebServiceSoap"
                contract="WeChatWebService.WeChatWebServiceSoap" name="WeChatWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
